* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
header {
    position: sticky;
    top: 0;
    z-index: 99;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.paddings {
    padding: 1.5rem;
}

.innerWidth {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.flexCenter {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexColCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flexColStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.flexColEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.image-container {
    height: 38rem;
    width: 30rem;
    border: 10px solid rgba(255, 255, 255, 0.515);
    border-radius: 45% 45% 0 0;
    overflow: hidden;
}
.image-container > img {
    object-fit: center;
    width: 100%;
    height: 100%;
}
